<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <!-- Brand -->
      <a class="navbar-brand fw-bold" href="/">Agora Cart</a>

      <!-- Mobile Toggle -->
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarToggler" 
        aria-controls="navbarToggler" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navigation Links -->
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link {{#if (equals activePage 'products')}}active{{/if}}" href="/">Products</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {{#if (equals activePage 'cart')}}active{{/if}}" href="/cart">
              Cart 
              <span class="badge bg-info text-dark" id="cart-count">{{cartCount}}</span>
            </a>
          </li>

          {{#if user}}
          <li class="nav-item">
            <a class="nav-link {{#if (equals activePage 'orders')}}active{{/if}}" href="/view-orders">Orders</a>
          </li>
          {{/if}}

        </ul>

        <!-- Account Dropdown -->
        <div class="dropdown">
          <button 
            class="btn btn-secondary dropdown-toggle" 
            type="button" 
            id="accountDropdown" 
            data-bs-toggle="dropdown" 
            aria-expanded="false">
            {{#if user}}
              {{user.Name}}
            {{else}}
              Account
            {{/if}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
            {{#if user}}
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            {{else}}
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
            {{/if}}
          </ul>
        </div>

      </div>
    </div>
  </nav>
</header>
