<table class="table table-bordered table-hover align-middle mt-5 shadow-sm">
  <thead class="table-light">
    <tr>
      <th scope="col" style="width:80px;">Item</th>
      <th scope="col">Name</th>
      <th scope="col" class="text-center" style="width:120px;">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td>
        <img src="/product-images/{{this.cartProducts._id}}.jpg" 
             class="rounded" 
             style="width:60px; height:60px; object-fit:cover;">
      </td>
      <td class="fw-semibold">{{this.cartProducts.Name}}</td>
      <td class="text-center">{{this.quantity}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

